aside {
    margin: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 287px;
    height: 85vh;
    background: #FB8500;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 100px 0px;
}
.sidebar__dashboard-icons {
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 70px;
}

.sidebar__dashboard-icons li {
    filter: brightness(80%);
}

.sidebar__dashboard-icons li:hover {
    filter: brightness(100%);
    -webkit-filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(2px 2px 0 black) 
    drop-shadow(-2px -2px 0 black);
} 