*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
.main-window {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Lobster', cursive;
}